- var elementPage = false;

include block_html/_style.pug
include block_html/_include.pug
include block_html/_svg.pug

style(type='text/css').
	.element-list-svg {
		display: grid;
		grid-gap:20px;
		grid-template-columns: repeat(auto-fill, minmax(12rem,1fr));
	}
	.icon-el {
		width: 40px;
		height: 40px;
		margin-bottom: 10px;

	}
	.element-list-svg__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
	}


.main-cont.main-cont--all
	.elements-hr
	.element-list-svg
		each item in svgArray
			.element-list-svg__icon
				svg(class="icon-el")
					use(xlink:href="#" + item.slice(0, item.length - 4))
				.element-list-svg__name #{item.slice(0, item.length - 4)}

include ./block_html/_script.pug
