include block_html/_style.pug
include block_html/_include.pug

style(type='text/css').
	.btn-wrap {
		display: flex;
		flex-wrap: wrap;
		flex-flow: column;
		align-items: baseline;
	}
	.btn-wrap .btn--md {
		display: inline-block;
		margin-bottom: 20px;
	}

	@media only screen and (max-width: 640px) {
		.btn-wrap .btn--md{
			width: 100%;
		}
	}

.page
	+header()
	.content
		.main-cont
			p Чтобы вызвать нужное окно добавь на элемент класс .modal-get и data-modal="имя окна"
			p Чтобы добавить метод закрытия окна по клику на элемент добавиь класс .modal-send
			.btn-wrap
				.btn--md.btn--mark.modal-get(data-modal="order") Заявка | data-modal="code "

+footer()
+modal()
.cookie
		// to show add class .cookie + .cookie--active
		.main-cont
			.cookie-wrap
				.cookie-text Мы используем cookies для быстрой и удобной работы сайта. Продолжая пользоваться сайтом, вы принимаете #[a(href="#").link--mark условия обработки]&nbsp;персональных данных
				+icon("close","icon icon-close")
include ./block_html/_script.pug
