html 
	box-sizing border-box
*,
*:before,
*:after 
	box-sizing: inherit

img,
iframe
	max-width 100%
	height auto
	border 0
	-ms-interpolation-mode bicubic
	display block

table
	table(true,true)

body > svg
	display none


