-
	pages = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		}
	]

-
	pagesDef = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Каталог',
			'href': 'catalog'
		},
		{
			'name': 'Акции список',
			'href': 'sale-list'
		},
		{
			'name': 'Акция подробная',
			'href': 'sale-item'
		},
		{
			'name': 'Личный кабинет',
			'href': 'lk'
		},
		{
			'name': 'Корзина',
			'href': 'basket'
		},
		{
			'name': 'Оформление заказа',
			'href': 'order'
		},
		{
			'name': 'Доставка',
			'href': 'deliver'
		},
		{
			'name': 'Отзывы',
			'href': 'review'
		},
		{
			'name': 'Оферта',
			'href': 'offer'
		},
		{
			'name': 'О компании',
			'href': 'about'
		},
		{
			'name': 'Ошибка 404',
			'href': 'error-404'
		},
		{
			'name': 'Ошибка 500',
			'href': 'error-500'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]

