//build:js js/combined.js
script(src='bower/jquery/dist/jquery.js')
//script(src='bower/slick-carousel/slick/slick.js')
script(src="js/add-on.js")
// endbuild
script(src="js/script.js")
script(src="js/script-edit.js")

</body>
</html>