//build:js ./js/combined.js
script(src='bower/jquery/dist/jquery.js')
//script(src='bower/slick-carousel/slick/slick.js')
//script(src='bower/jquery.nicescroll/jquery.nicescroll.min.js')
//script(src='bower/jquery-nice-select/js/jquery.nice-select.min.js')
//script(src="bower/ion.rangeSlider/js/ion.rangeSlider.js")
// endbuild
script(src="./js/add-on.js")
script(src="./js/script.js")
script(src="./js/script-edit.js")

</body>
</html>